---
layout: default
permalink: /projects/
---

<div>
    <header class="webhead">
        <h1 class="webhead-title">Projects <span><small> Involved</small></span></h1>
    </header>
    {% if site.projects.size == 0 %}
        <h2>Projects not found</h2>
    {% else %}
        {% for project in site.projects %}
            <div class="project_card_summary">
                <a href="{{project.url}}">
                        <img src="{{project.image}}"/>
                    <div>
                        <h2>{{ project.title }}</h2>
                        {% if project.dates %}
                        <small>({{project.dates}})</small>
                        {% endif %}
                        <span class="pill_span {{project.type}}"><small>{{project.type}}</small></span>
                        <span class="pill_span {{project.state}}"><small>{{project.state}}</small></span>
                        <p>{{ project.description }}</p>
                        {% for keyword in project.keywords %}
                            <span class="pill_span"><small>{{keyword}}</small></span>
                        {% endfor %}
                    </div>
                </a>
            </div>
            <hr>
        {% endfor %}
    {% endif %}
  </div>