<div>
    {% if site.subjects.size == 0 %}
        <h2>Subjects not found</h2>
    {% else %}
        {% for plan in site.subjects %}
        <table class="table_plans">
            <tr>
                <th>{{plan.name}} <small>({{plan.university_acronym}})</small></th>
            </tr>
            <td>
            <table class="table_subjects">
                <tr>
                    <th>Subject</th>
                    <th>Course</th>
                    <th>Dates</th>
                </tr>
                {% for subject in plan.subjects %}         
                    <tr>
                        <td>{{subject.name}}</td>
                        <td><small>{{subject.course}}</small></td>
                        <td><small>{{subject.dates}}</small></td>
                    </tr>
                
            {% endfor %}
            </table>
        </td>
    </table>
        {% endfor %}
    {% endif %}
  </div>
