<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="preload">
    <div class="top"></div>
    <div class="profile">
        <img src="/assets/img/profile.jpg" class="img-circle" />
        <h3>{{ site.special_title }}</h3>
        <p>{{ site.description }}</p>
        <hr>
        <nav class="profile-nav">
            {% for nav in site.nav %}
                {% if nav.name == "Résumé" %}
                    <p><a href="{{ nav.href }}" target="_blank">|{{ nav.name }}|</a><p> 
                {% else %}
                    <p><a href="{{ nav.href }}">|{{ nav.name }}|</a><p> 
                {% endif %}
            {% endfor %}
        </nav>
        <hr>
        <span class="social">
            {% if site.github %}
            <a type="button" href="http://github.com/{{ site.github }}">
                <i class="fa fa-github"></i>
            </a>
            {% endif %} {% if site.linkedin %}
            <a type="button" href="http://linkedin.com/in/{{ site.linkedin }}">
                <i class="fa fa-linkedin"></i>
            </a>
            {% endif %} {% if site.email %}
            <a type="button" href="mailto:{{ site.email }}">
                <i class="fa fa-envelope"></i>
            </a>
            {% endif %}
        </span>
    </div>
    <div class="contents">
        {{ content }}
    </div>
</body>
<script type="text/javascript">
    window.onload = function(){
        document.getElementsByTagName("BODY")[0].classList.remove("preload");
    }
</script>
</html>
