---
layout: default
---

<div class="content post">
  <h1>{{page.title}}</h1>
  <div class="project_card">
    <p class="title_card"><i>{{page.title}} Summary Card</i></p>
    <img src="{{page.image}}">
    <div class='box_card'>
      <div>
        <p><i class="fa fa-calendar"></i>{{page.dates}}</p>
        <p><i class="fa fa-map-marker"></i>{{page.company}}</p>
      </div>
      <div>
        <p><i class="fa fa-user"></i><span class="pill_span {{page.type}}"><small>{{page.type}}</small></span></i>
        <p><i class="fa fa-signal"></i><span class="pill_span {{page.state}}"><small>{{page.state}}</small></i>
      </div>
    </div>
    <p>
      <i>{{page.description}}</i>
      <br>
      {% for keyword in page.keywords %}
        <span class="pill_span"><small>{{keyword}}</small></span>
      {% endfor %}
    </p>
    {% if page.links %}
      <div class="links_card">
        <p style="text-align:center;"><i>Links</i></p>
        {% for link in page.links %}
        <p>{{link}}<p>
      </div>
      {% endfor %}
    {% endif %}
  </div>
  {{ content }}
</div>
